* {
    margin: 6;
    padding: 2;
}
#container {

    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 20px 10px 10px #888;
    border: 2px solid #999;
}
.banner {
    margin-bottom: 10px;
}
.banner img {
    height: 240px;
    width: 240px;
    float: right;
    }
.container {
    font-size: 14pt;
    margin: 100px 100px 0 100px;
}

